<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    img{
       width: 700px;
    }
</style>
<body>
    <h1>Welcome to Nest Away</h1>

    <!-- <img src="/pictures/house.jpeg" alt=""> -->
    <br>

    <a href="/listings"><button>View Listings</button></a>
</body>
</html>