<% layout('/layouts/boilerplate') -%>

    <div>
        <h1 class="red col-6 offset-3 row mb-3">Login </h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>


                <div class="">
                    <label for="username" class="form-label blue">Username</label>
                    <input class="form-control" type="text" name="username" id="username" required>
                </div>

                <div class="">
                    <label for="password" class="form-label blue">Password</label>
                    <input class="form-control" type="password" name="password" id="username" required>
                </div>
                <br>

                <button class="btn btn-dark">Login</button>
            </form>
        </div>
    </div>




    <script src="</js/script.js"></script>